<section class="section">
  <div class="section-div">
    <h1>ისტორიები ჩვენი მომხმარებლებისგან</h1>
    <div class="section-div-slider">
      <div>
        <p-carousel
          [value]="products"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-product pTemplate="item">
            <div class="section-div-wrapper">
              <div class="section-div-img">
                <img [src]="product.logo" alt="logo" />
              </div>
              <p class="section-div-info">
                {{ product.description }}
              </p>
              <button
                class="section-div-btn"
                (click)="toggleDialogPopup()"
                class="learnMore"
              >
                გაიგე მეტი
              </button>
              <div class="section-div-profileDiv">
                <div>
                  <div class="section-div-profileDiv-profilepic">
                    <img [src]="product.image" alt="img" />
                  </div>
                </div>
                <div>
                  <h4>{{ product.name }}</h4>
                  <p class="section-div-profileDiv-profesion">
                    {{ product.profesion }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>
<ng-container *ngIf="dialogPopup">
  <app-dialog></app-dialog>
</ng-container>
