.try-free-btn1,
.try-free-btn2 {
  cursor: pointer;
  font-family: "BPG Arial", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #2dc302;
  border: 1px solid #fff;
  letter-spacing: 1.7;
  border-radius: 3px;
  padding: 10px 40px;
  transition: all 0.3s;
  &:hover {
    background-color: #32d704;
  }
  margin-bottom: 15px;
}

.header {
  &-title {
    font-family: "BPG Arial", sans-serif;
    margin-top: 120px;
    font-size: 50px;
    color: #213250;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  &-video {
    max-width: 1100px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
  }
  &-video > video {
    max-width: 1000px;
    width: 100%;
    height: auto;
    max-width: 1100px;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px -5px;
  }
  &-desc {
    font-family: "BPG Arial", sans-serif;
    text-align: center;
    letter-spacing: 1;
    margin-bottom: 20px;
  }
  &-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  &-sub-desc,
  &-sub-desc-2 {
    text-align: center;
    color: #95a1b1;
    font-family: "BPG Arial", sans-serif;
    letter-spacing: -0.5px;
    word-spacing: 2px;
  }
  &-sub-desc {
    margin-bottom: 80px;
  }
  &-sub-desc-2 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  &-company-logos {
    max-width: 1100px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
  }
  &-diplomat {
    width: 150px;
  }
}

.try-free-btn2 {
  background-color: #fff;
  color: #6c6bfb;
  border: 1px solid #6c6bfb;
  &:hover {
    background-color: #6c6bfb;
    color: #fff;
  }
}
