<header class="header">
  <h1 class="header-title">გაამარტივე არქივის მართვის პროცესი</h1>
  <p class="header-desc">შექმენი და აკონტროლე დოკუმენტაციის დაარქივება</p>
  <div class="header-btn-div">
    <div class="try-free-btn1">სცადე უფასოდ</div>
    <div class="try-free-btn2">მოითხოვე რეგისრაცია</div>
  </div>
  <p class="header-sub-desc">ყუთების გადამოწმება</p>

  <div class="header-video">
    <video
      src="../../assets/archiveEd.mp4"
      #videoPlayer
      autoplay=""
      loop=""
      muted=""
      playsinline=""
      disablepictureinpicture=""
    ></video>
  </div>

  <div class="header-company-logos">
    <div *ngFor="let item of imageLogo">
      <img style="height: 40px" [src]="item.url" [alt]="item.alt" />
    </div>
  </div>

  <p class="header-sub-desc-2">
    ობიექტების ტრანსპორტირების მართვის მობილურზე მორეგებული აპლიკაცია
  </p>
</header>
