@import url("../../assets/styles/variables.scss");

.try-free-btn1,
.try-free-btn2 {
  cursor: pointer;
  font-family: "BPG Arial", sans-serif;
  font-weight: bold;
  color: var(--white);
  background-color: var(--mainColor2);
  border: 1px solid var(--white);
  letter-spacing: 1.7;
  border-radius: 3px;
  padding: 10px 40px;
  transition: all 0.3s;
  &:hover {
    background-color: var(--clickedmainColor2);
  }
  margin-bottom: 15px;
}

.header {
  &-title {
    font-family: "BPG Arial", sans-serif;
    margin-top: 120px;
    font-size: 50px;
    color: #213250;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  &-video {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  &-video > video {
    max-width: 1000px;
    width: 100%;
    height: auto;
    max-width: 1100px;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px -5px;
  }
  &-desc {
    font-family: "BPG Arial", sans-serif;
    text-align: center;
    letter-spacing: 1;
    margin-bottom: 20px;
  }
  &-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  &-sub-desc,
  &-sub-desc-2 {
    text-align: center;
    color: #95a1b1;
    font-family: "BPG Arial", sans-serif;
    letter-spacing: -0.5px;
    word-spacing: 2px;
  }
  &-sub-desc {
    margin-bottom: 80px;
  }
  &-sub-desc-2 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 100px;
  }

  &-company-logos {
    max-width: 1100px;
    width: 100%;
    margin: 100px auto 80px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: space-around;
  }
}

.try-free-btn2 {
  background-color: var(--white);
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  &:hover {
    background-color: var(--mainColor);
    color: var(--white);
  }
}

@media screen and (max-width: 600px) {
  .header-title {
    font-size: 30px;
  }
  .try-free-btn1,
  .try-free-btn2 {
    padding: 5px 15px;
  }
}
