<section class="section4">
  <p class="section4-title">დოკუმენტაციის დაარქივება</p>
  <div class="section4-div">
    <div class="section4-div-wrapper">
      <ng-container *ngFor="let item of arr; let i = index">
        <app-button
          [ngStyle]="{
            backgroundColor: i === i ? '#f26724' : '#fff',
            color: i === i ? '#FFF' : '#1C3252'
          }"
          [text]="item"
          (changeData)="eventHandler($event)"
          [index]="i"
          style="border-radius: 3px"
        ></app-button>
      </ng-container>
    </div>
    <ng-container>
      <app-dynamic-content
        [img]="useCaseInfo[i].img"
        [text]="useCaseInfo[i].text"
        [title]="useCaseInfo[i].title"
      ></app-dynamic-content>
    </ng-container>
  </div>
</section>
