<div class="div-header">
  <div class="sub-1">
    <p class="title">Signify</p>
    <p class="nav-title">ტური</p>
    <p class="nav-title">გამოყენებები</p>
    <p class="nav-title">რესურსები</p>
    <p class="nav-title">ფასი</p>
  </div>
  <div class="sub-2">
    <ul class="sub-2-ul">
      <p class="geo">
        <li><i class="fa-solid fa-globe"></i>&nbsp;Geo</li>
      </p>
      <p class="nav-title">
        <li>შესვლა</li>
      </p>
      <div class="try-free-btn">
        <li>სცადე უფასოდ</li>
      </div>
    </ul>
    <ul class="bar" style="display: none">
      <div class="bar-div">
        <img src="../../assets/img/bar.png" alt="img" />
      </div>
    </ul>
  </div>
</div>
