.div-header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 100;
  transition: all 0.15s ease-out 0s;
  display: flex;
  -webkit-box-pack: center;
  background-color: rgb(243, 246, 250);
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;

  .sub-1,
  .sub-2 {
    display: flex;
    align-items: center;
  }
  .sub-2 > ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
  }

  .geo {
    margin: 0 10px 0 10px;
    font-size: 18px;
  }

  .geo,
  .fa-globe {
    opacity: 50%;
    cursor: pointer;
  }

  .sub-1,
  .sub-2 {
    .title {
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      font-size: 35px;
      font-weight: 700;
      color: #213250;
      margin-right: 25px;
    }
    .nav-title {
      cursor: pointer;
      font-family: "BPG Arial", sans-serif;
      margin-right: 15px;
      color: #213250;
      font-weight: bold;
      &:hover {
        color: #2dc302;
      }
    }
    .try-free-btn {
      cursor: pointer;
      font-family: "BPG Arial", sans-serif;
      font-weight: bold;
      color: #2dc302;
      border: 1px solid #2dc302;
      border-radius: 3px;
      padding: 10px 20px;
      transition: all 0.3s;
      &:hover {
        color: #fff;
        background-color: #2dc302;
      }
    }
  }
  .bar-div {
    width: 30px;
    height: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .nav-title,
  .sub-2-ul {
    display: none !important;
  }
  .bar {
    display: block !important;
  }
  .div-header {
    justify-content: space-between;
    padding: 0 20px;
  }
}
