<div class="overlay" *ngIf="dialogPopup">
  <div class="div">
    <div class="div-wraperInfo">
      <h3>{{ langs.dialogTitle[index] }}</h3>
      <div class="div-wraperInfo-box">
        <div class="div-wraperInfo-mail">
          <input
            type="text"
            [placeholder]="langs.dialogName[index]"
            [ngClass]="{ incorrect: emptyFields && !userName }"
            [(ngModel)]="userName"
          />
          <input
            type="text"
            [placeholder]="langs.dialogLastname[index]"
            [ngClass]="{ incorrect: emptyFields && !userLastname }"
            [(ngModel)]="userLastname"
          />
          <input
            type="text"
            [placeholder]="langs.dialogCompany[index]"
            [ngClass]="{ incorrect: emptyFields && !userCompany }"
            [(ngModel)]="userCompany"
          />
          <input
            type="tel"
            [placeholder]="langs.dialogPhoneNum[index]"
            [ngClass]="{ incorrect: emptyFields && !userPhoneNum }"
            [(ngModel)]="userPhoneNum"
            (input)="validatePhoneNumber($event)"
            pattern="[0-9]*"
          />

          <input
            type="text"
            [placeholder]="langs.dialogMail[index]"
            [ngClass]="{ incorrect: invalidEmail }"
            [(ngModel)]="userMail"
          />
        </div>
        <div *ngIf="emptyFields" class="error-message">
          {{ langs.dialogHeaderErrMsg[index] }}
        </div>
        <div *ngIf="invalidEmail" class="error-message">
          {{ langs.dialogHeaderErrMsg2[index] }}
        </div>
      </div>
    </div>
    <div class="div-btn">
      <button (click)="closeDialogPopup()">
        {{ langs.dialogBtn[index] }}
      </button>
      <button (click)="request()" [disabled]="disabled">
        {{ langs.dialogBtn2[index] }}
      </button>
    </div>
  </div>
</div>
