<section class="slider-wrapper">
  <div class="slider">
    <div
      class="image-container"
      [style]="
        'transform: translate(' + translate + '%); width: ' + contwidth + '%;'
      "
    >
      <ng-container *ngFor="let imgsrc of images">
        <div class="img">
          <img [src]="imgsrc" alt="" />
        </div>
      </ng-container>
    </div>
  </div>
  <!-- <button class="prev-button" (click)="prev()">&#10094;</button> -->
  <!-- <button class="next-button" (click)="next()">&#10095;</button> -->
</section>
