<section class="section">
  <div class="section-div">
    <div class="section-div-left">
      <h1>{{ langs.section6Title[index] }}</h1>

      <p>{{ langs.section6SubTitle[index] }}</p>
    </div>
    <div class="section-div-right">
      <div class="section-div-right-svg">
        <button (click)="gotoSection('sec1')">
          {{ langs.requestRegistration[index] }}
        </button>
        <p (click)="gotoSection('sec3')">{{ langs.boxCheck[index] }}</p>
      </div>
    </div>
  </div>
</section>
