<section class="section3">
  <div class="section3-div">
    <div class="section3-div-title">
      <p class="section3-div-title-1">სცადე შენ თვითონ,</p>
      <p class="section3-div-title-2">გადაამოწმე ყუთები ლოკალურად</p>
      <div class="section3-div-title-logoWraper">
        <app-section3-logo></app-section3-logo>
        <div class="section3-div-title-logoWraper-div">
          <input
            type="email"
            placeholder="შეიყვანე ელ.ფოსტა"
            class="section3-div-title-input"
            [(ngModel)]="userMail"
            [ngClass]="{ incorrect: invalid }"
          />
          <button
            class="section3-div-title-logoWraper-button"
            (click)="request()"
            [disabled]="disabled"
            [ngClass]="{ clicked: disabled }"
          >
            გაგზავნა
          </button>
        </div>
      </div>
    </div>
    <div class="section3-div-img">
      <img src="../../assets/img/section3Img.png" alt="sec3Img" />
    </div>
  </div>
</section>
