<section class="body">
  <div class="body-container">
    <h2 class="body-container-title">შენი ყველა დოკუმენტი ერთ პლატფორმაზე</h2>
  </div>

  <div class="body-collapse-div">
    <div class="body-collapse-div-accordion">
      <mat-accordion>
        <ng-container *ngFor="let collapseInfo of collapseInfo">
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
            expanded="true"
            hideToggle=""
            class="body-collapse-panel"
          >
            <mat-expansion-panel-header
              class="mat-expansion-panel-header"
              style="padding: 0"
            >
              <mat-panel-title
                class="body-collapse-panel-title"
                style="margin: 0"
              >
                <div class="body-collapse-panel-title-div">
                  <!-- <app-collapse-logo1></app-collapse-logo1> -->
                  <img
                    [src]="collapseInfo.imgUrl"
                    alt="img"
                    style="padding-right: 10px"
                    [ngStyle]="{ color: collapseInfo.imgColor }"
                  />
                  {{ collapseInfo.Title }}
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              {{ collapseInfo.Desc }}
            </p>
            <a href="#" class="body-collapse-panel-button">{{
              collapseInfo.learnMore
            }}</a>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </div>
    <div class="body-collapse-img">
      <img src="../../assets/img/collapse1.jpg" alt="collapse1" />
    </div>
  </div>
</section>
