@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}
